.yui3-g
  .yui3-u-1
    %h2= t(:site_settings)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = form_for :admin_site_settings, @site_settings, :url => { :action => "update" }, :html => { :method => "put" } do |f|
          = f.text_field :overtime_multiplier
          = f.submit

